#pragma once

static const char *WIFI_SSID = "TON_SSID";
static const char *WIFI_USER = "TON_USER";
static const char *WIFI_PASS = "TON_MDP";

static const char *MQTT_HOST = "IP_BROKER";
static const uint16_t MQTT_PORT = 1883;
static const char *MQTT_USER = "TON_USER_MQTT";
static const char *MQTT_PASS = "TON_MDP_MQTT";
static const char *MQTT_TOPIC = "espacefarm/capteurs";
